@charset "UTF-8";

* {
    /*height: 100%;*/
    font-family: sans-serif;
}

body {
    background-image: linear-gradient(to right, #f0b906, #A8E296);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px#363611cc;
    width: 600px;
    padding: 10px;
    margin: auto;

}

h1 {
    color:#1cc592 ;
    text-align: center;
    text-shadow: 1px 1px 2px #12795a;

}

h2 {
    color: #90c42f;
}
p {
    text-align: justify;
}